body {
    display: flex;
    justify-content: space-between;
}

.library {
    flex: 3;

    display: flex;
    flex-wrap: wrap;

    /* Temporary for visualization */
    background-color: rgb(176, 231, 104);
}

.book-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Temporary for visualization */
    background-color: grey;
}

.book {
    display: flex;
    flex-direction: column;

    /* Temporary for visualization */
    background-color: grey;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}