* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;
}
    header .progress-container {
        display: flex;
        flex-direction: column;
    }

    header progress {
        width: 180px;
        height: 20px;
    }

.library {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;

    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    height: 150px;


    background-color: grey;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
    .book .top-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .book .delete-button {
        font-size: 20px;

        border: none;
        background-color: rgba(128, 128, 128, 0);
        
        cursor: pointer;

        position: relative;
        bottom: 10px;
        left: 5px;
    }
    

.add-book {
    position: fixed;
    right: 2%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    font-size: 36px;

    background-color: grey;
    color: white;

    cursor: pointer;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 4px 0px;

    background-color: grey;
}
    footer .github-link {
        margin-bottom: -2px;
    }

.read {
    background-color: green;
    color: white;    
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0; 
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opactiy 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: grey;
    width: 320px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

    .modal input{
        border-radius: 5px;
        border: none;
        padding: 10px;
    }

    .modal button {
        border-radius: 5px;
        border: none;
        padding: 10px;
        width: 80%;
        background-color: rgb(104, 184, 104);

        cursor: pointer;
    }
