* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;
}
    header .progress-container {
        display: flex;
        flex-direction: column;
    }
    header meter {
        width: 106px;
    }

.library {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;

    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    width: 300px;
    height: 150px;

    transition: transform .2s;


    background: linear-gradient(46deg, grey, #fbfbfbad);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.book:hover {
    transform: scale(1.05);
}
    .top-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .delete-button {
        font-size: 16px;

        border: none;
        background-color: rgba(128, 128, 128, 0);
        color: white;
        
        cursor: pointer;

        position: relative;
        bottom: 10px;
        left: 5px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;

        left: 225px;
        top: 4px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        border-radius: 34px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        border-radius: 50%;
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
    .book-read-status {
        position: absolute;
        bottom: 16px;
        right: 64px;
    }

.add-book {
    position: fixed;
    right: 21px;
    bottom: 64px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    font-size: 36px;

    background-color: grey;
    color: white;

    cursor: pointer;
}
    .add-book:hover  {
        transform: rotate(180deg) scale(1.1);
        transition: transform 1s ease;
    }

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 4px 0px;

    background-color: grey;
}
    footer .github-link {
        margin-bottom: -2px;
    }

.read {
    background: linear-gradient(46deg, rgb(10 151 22), #fbfbfb8f);
    color: white;    
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0; 
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opactiy 0.3s ease;
}
    .modal-container.show {
        pointer-events: auto;
        opacity: 1;
    }

.modal {
    background-color: grey;
    width: 310px;
    height: 350px;
    max-width: 100%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    position: relative;
}
    .modal #close-modal {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .modal h1 {
        margin-bottom: 10px;
    }

    .modal input{
        border-radius: 5px;
        border: none;
        padding: 10px;
    }

    .modal button {
        border-radius: 5px;
        border: none;
        padding: 10px;
        width: 55%;
        background-color: rgb(10 151 22);
        color: white;
        font-size: 16px;

        cursor: pointer;
    }
