* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 20px;

    background-color: grey;
}

.library {
    flex: 3;

    display: flex;
    flex-wrap: wrap;
}

.book-form {
    flex: 1;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 35%;
    height: 25%;

    /* Temporary for visualization */
    background-color: grey;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
}
    .book .top-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .book .delete-button {
        font-size: 20px;

        border: none;
        background-color: rgba(128, 128, 128, 0);
        
        cursor: pointer;
    }

.add-book {
    position: fixed;
    right: 20px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    font-size: 36px;

    background-color: grey;
    color: white;

    cursor: pointer;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 4px 0px;

    background-color: grey;
}

.read {
    background-color: green;
    color: white;    
}